@font-face {
  font-family: 'TintinTalking';
  src: url('../assets/fonts/tintin_talking.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chandler42_Regular';
  src: url('../assets/fonts/Chandler42_Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArcherMediumPro';
  src: url('../assets/fonts/ArcherMediumPro.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  background: #e0e0e0;
  font-family: 'ArcherMediumPro', sans-serif;
  cursor: url('../assets/images/png/cursor.png') 0 0, auto; // curseur normal
}

// Curseur pointer (liens, boutons, .clickable, etc.)
a, button, .clickable {
  cursor: url('../assets/images/png/cursor-pointer.png') 0 0, pointer !important;
}

// Curseur grab (pour éléments drag & drop)
.grabbable, .mini-dossier, .mini-dossier * {
  cursor: url('../assets/images/png/cursor-grab.png') 8 8, grab !important;
}

// Curseur grabbing (clic maintenu)
.grabbing, .mini-dossier:active, .mini-dossier.grabbing, .mini-dossier:active * {
  cursor: url('../assets/images/png/cursor-grab.png') 8 8, grabbing;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  width: 32px;
  height: 32px;
  transition: width 0.1s, height 0.1s, transform 0.1s;
  will-change: transform;
  img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    transition: transform 0.1s;
  }
  &.pointer {
    width: 40px;
    height: 40px;
    img {
      transform: rotate(405deg);
    }
  }
}