.home-container {
    position: relative;
    width: 100%;
    height: 100vh; // plein écran
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.navbar {
    top: -60px;
    left: 0;
    position: absolute;
    background-color: none;
    width: 100%;
    height: 60px;
    z-index: 11;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: start;
    gap: 5px;
    z-index: 1;

    .nav-item{
        font-family: 'Chandler42_Regular', sans-serif;
        color: #222;
        text-decoration: none;
        font-size: 1.2rem;
        line-height: 60px;
        display: block;
        text-align: center;
        transition: color 0.3s;
        width: 140px;
        background-color: #9E9593;
        border-radius: 20px 20px 0 0;

        &:hover {
            color: #ff4d4d;
        }
    }
}

.background-layer{
    width: 80%;
    max-width: 70vw;
    height: 80%;
    background-color: #9E9593; // gris foncé
    border-radius: 0px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: absolute;
    perspective: 1000px; /* IMPORTANT pour 3D */
    z-index: 101;
}

.middle-layer{
    width: 92%;
    height: 92%;
    background-color: #E8DCDA; // gris intermédiaire
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    margin: 0 0 0 4%;
    z-index: 2;
}

.front-layer{
    width: 100%;
    height: 89%;
    background-color: #CEC4C2; // gris clair
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform-origin: bottom center; /* pivot en haut */
    transform-style: preserve-3d;
    flex-direction: column;

    h1 {
    font-size: 5rem;
    color: #222;
    font-weight: 100;
    
    .h1-bold{
    font-weight: bold;
    }
  }  
}

.projets-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10; // au-dessus du background-layer
}

.click-instruction{
    margin-top: 20px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    p {
        font-size: 3rem;
        padding: 10px 200px 10px 200px;
        color: #555;
        width: 100%;
        text-align: center;
        animation: fadeInOut 3s infinite;
    }
}