.tabs {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.tab {
    font-family: 'TintinTalking', sans-serif;
  padding: 0.5rem 1rem;
  border: none;
  background: #444;
  color: #eee;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  &.active {
    background: #ff4d4d;
    color: white;
  }
}
